.nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    border-top: 1px solid;
    border-bottom: 1px solid;
    
}

.nav a
{
    text-decoration: none;
    font-size: 15px;
    color: black;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.nav button
{
    border: none;
    border-left: 1px solid;
    border-right: 1px solid;
    background-color: white;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.nav a:hover
{
    color: #6600EA;
}

.featured
{   
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top:50px;
    margin-bottom: 50px;
}

.featured img
{
    border-top: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;

}

.featured h1
{
    font-family: 'Roboto';
}

.featured p
{
    font-family: 'Roboto';
    text-overflow:ellipsis;
}

.ftext
{
    font-weight: 300;
    padding-left: 20px;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
}

.emailsub
{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.emailsub input
{
    border: none;
    border-bottom: 2.5px  solid;
    padding: 10px;
    margin-right: 30px;
}

.emailsub input:focus
{
    outline: none;
    transition: .7s ease-in-out;
    border-bottom: 2.5px solid #6600EA;
}

.emailsub input:hover
{
    transition: 1s ease-in-out;
    border-bottom: 2.5px solid #6600EA;
}



.emailsub #button
{
    cursor:pointer;
    border: none;
    background-color: #6600EA;
    color: white; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px
}

.emailsub #button:hover
{
    transition-duration: .5s;
    background-color: black;
}

.footer
{
    padding: 10px;
    background-color: #e8e6e6;
    text-align: center;
    font-family: Roboto;
}


.aboutme
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.aboutme img
{
    margin-inline-start: 150px;
    width: fit-content;
    height: fit-content;
    border: 1px solid;
}

.aboutme h1
{
    margin-inline-start: 155px;
    margin-bottom: 0;
}

.aboutme p
{
    margin-inline-start: 150px;
    padding: 10px;
    font-family: Roboto;
}

/* Contact */


.contact
{
    margin-top: 50px;
}


.contact form input[type="text"]
{
    border: none;
    margin-right: 50px;
    width:250px;
    border-bottom: 1px solid;
    outline: none;
}


.contact form input[type="text"]:focus
{
    border: none;
    border-bottom: 2px solid #6600EA;
}

.contact form input[type="text"]:hover
{
    border: none;
    border-bottom: 2px solid #6600EA;
}


.contact form input[type="email"]
{
    border: none;
    margin-right: 50px;
    margin-top: 50px    ;
    width:560px;
    border-bottom: 1px solid;
    outline: none;
}

.contact form input[type="email"]:focus
{
    border: none;
    border-bottom: 2px solid #6600EA;
}

.contact form input[type="email"]:hover
{
    border: none;
    border-bottom: 2px solid #6600EA;
}


.contact form input[type="textarea"]
{
    border: none;
    margin-right: 50px;
    margin-top: 50px    ;
    width:560px;
    border-bottom: 1px solid;
    outline: none;
}

.contact form input[type="textarea"]:focus
{
    border: none;
    border-bottom: 2px solid #6600EA;
}

.contact form input[type="textarea"]:hover
{
    border: none;
    border-bottom: 2px solid #6600EA;
}